
@media only screen and (max-width: 768px){
  body {
    max-width: 100%;
  }
}


@media only screen and (max-width: 768px){
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

body{
  font-family: Monaco, monospace;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px){
  .nav-container {
    max-width: 100%;
  }
}


@media only screen and (min-width: 768px){
  .nav-container {
    max-width: 100%;
    margin: 0 auto;
  }
}

   header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  header h1 {
    margin: 1;
  }
  nav {
    background-color: #eee;
    padding: 0.5em;
    max-width: 100%;
    text-align: center;
  }
  /*nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    
  }
  */

  
  nav ul {
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;

  }
  

  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  nav a {
    color: #333;
    text-decoration: none;
  }
  nav {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);*/
    box-shadow: none;
    border-top: 1px solid black; /* adds a line on top of nav bar */
    border-bottom: 1px solid black; /* replaces drop shadow w/ a line */
  }
  
  
  
  nav li {
    padding: 10px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .AboutMe {
    text-align: center;
    max-width: 100%;
  }

  .LuxDorm img {
   /* width: 400px; */
   height: auto;
   max-width: 60%;
   display: block;
  margin: 3% auto;
  text-align: center;
  vertical-align: middle;
  }

  
  section {
    flex: 1;
    padding: 1em;
    min-width: 600px;
  }
  section h2 {
    margin-top: 0;
  }
  section img {
    max-width: 100%;
    border: 1px solid #ccc;
    margin-top: 1em;
  }
 
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
