body{
  font-family: Monaco, monospace;
  margin: 0;
  padding: 0;
  font-size: 1rem; /* Set font size to repsonsive unit */
}

html,body {
  overflow-x: hidden;
}

   header {
    background-color: #3d3d3d00;
    color: #fff;
    text-align: center;
    padding: 0em;
   
    max-width: 100%;
  }
  header h1 {
    margin: 1;
  }

  nav ul {
    display: inline-flex;
    justify-content:left;
    list-style-type: none;
    margin: auto;
    padding: 0%;
    word-spacing: 2%;
    max-width: 100%;

  }
  nav li {
    display: inline-block;
    margin-right: 0em;
    padding: 1%;
    padding-right:20%;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  .nav-container{
    margin-left:12%;
    background-color: white;
    padding: 0em;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: left; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: none;
    
    /*border-bottom: 1px solid black; */ 
    display: inline-block;
    justify-content:center;
    list-style-type: none;
  }

  .border{
    border-top: 1px solid black; 
    margin-bottom: 3%;
    margin-bottom: 3%;
  }

  /* Class for Luca Logo Title container*/
  .LeftTitle {
    text-align: left;
    margin-left: 5%;
    margin-bottom: -4%;
    margin-top: -4%;
  }

  /*Fur Luca Logo Title*/
  .FurTitle {
    height: auto;
    max-width: 40%;
    display: inline-flex;
  }

  /* 2nd border (between navbar & Name "Luca Martinez"*/
  .border2{
    border-top: 1px solid black; 
    margin-top: 3%;
    margin-bottom: 3%;
  
  }


    /*Name "Luca Martinez":*/
    .AboutMe {
      margin-left: 12%;
      margin-top: 2%;
      margin-bottom: 3%;
      text-align: left;
      max-width: 100%;
  
    }

    /* Lux Yellow image*/
    .Left {
      text-align: left
      margin-left: 12%;
      
    }  

    .description{
      text-align: left;
      margin-left: 12%;
    }


 /* nav {
    background-color: white;
    margin: 0;
    padding: 0.5em;
    width: 100%;
    text-align: center; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border-top: 1px solid black; /* adds a line on top of nav bar 
    border-bottom: 1px solid black; /* replaces drop shadow w/ a line 
    display: inline-flex

  } 
  
*/



@media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (-webkit-device-pixel-ratio: 3) {
  /* CSS for iPhone 13 Pro Max */
  nav ul {
    display: inline-flex;
    justify-content:center;
    list-style-type: none;
    margin: auto;
    padding: 1%;
    max-width: 100%;
  }
}
  
  
  

  
  main {
    display: flex;
    flex-wrap: wrap;
  }




  .LuxYellow{
    width: 30%;
    height: auto;
    text-align: left;
    margin-left: 12%;
  }
  /*.Lux img {
   /* width: 400px; 
   height: auto;
   max-width: 25%;
   display: flex;
  margin: 3% auto;
  text-align: left;
  vertical-align: left;
  }*/

  

  
  section {
    flex: 1;
    padding: 1em;
  }
  section h2 {
    margin-top: 0;
  }
  section img {
    max-width: 100%;
    border: 1px solid #ccc;
    margin-top: 1em;
  }
 
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/*@media only screen and (max-width: 600px){
  header{
      padding: 0.5em;
  }
  
  nav{
    padding: 0.5em;
  }
}*/